*{
    margin: 0;
    padding: 0;
}
@media (min-width: 992px)  {
    .nav__click{
   display: none;
}
  .nav-pc{
      background-image: url('http://onme.vn/uploads/banner_01.jpg');
      background-size: cover;
      height: 500px;
      background-repeat: no-repeat;
  }
    .image-intruction{
        display: none;     
    }   
      nav ul li a{
  text-transform: uppercase;
  text-decoration: none;
    font-weight: 400;
    font-size: 15px;
   color: #fff;
}
    nav ul li{
    margin-right:40px;
    display: inline;
    text-align: center;
}
 .nav-bar-header{
    float: right;
      margin-top: 20px;
      margin-left: 200px;
}
}
@media (min-width:768px ) and (max-width: 991px){
        .nav__click{
   display: none;
}
    .image-intruction{
        width:100%;     
    } 
   nav ul li a{
       font-size: 14px;     
        color:#fff;
        text-transform: uppercase;
    }
   .nav-pc{
       background: linear-gradient(to bottom,#000 0,rgba(0,0,0,0) 100%);
       background-color: #f8f9fa;
   }
    .nav-bar-header{
    position: fixed;
    top:20px;
    right: 100px;
}
   nav ul li{
    margin-right: 20px;
    display: inline;
    text-align: center;
}
}
@media (max-width:767px){
    .image-intruction{
        width: 100%;
    }
    .top-bar{
      /* text-align: center; */
      display: none;  
      padding-left: 20px;
    }
    .nav-pc{
  background: linear-gradient(to bottom,#000 0,rgba(0,0,0,0) 100%);
  background-color: #f8f9fa;
 margin-bottom: 30px;       
}
.nav__click{
    position: fixed;
    top: 20px;
    right: 20px;
    color: #fff;
  cursor: pointer;
}
nav ul li {
    display: block;
    margin-bottom: 20px;
}
nav ul li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}
}
nav ul li.active,nav ul li a:hover{
  color: #ed1756;
}   
.nav-input:checked ~ .top-bar{
  display: block;
} 