<template>
  <div class="accordion-item">
    <h2
      class="accordion-header"
      :id="concat('', 'flush-heading', index, parentId)"
    >
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        :data-bs-target="concat('#', 'flush-collapse', index, parentId)"
        aria-expanded="false"
        :aria-controls="concat('', 'flush-collapse', index, parentId)"
      >
        <slot name="heading"></slot>
      </button>
    </h2>
    <div
      :id="concat('', 'flush-collapse', index, parentId)"
      class="accordion-collapse collapse"
      :aria-labelledby="concat('', 'flush-heading', index, parentId)"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <slot name="content"></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AccordionComponent",
  props: {
    index: {
      type: Number,
      required: true,
    },
    parentId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {};
  },
  methods: {
    concat() {
      let string = "";
      for (let i = 0; i < arguments.length; i++) {
        string += arguments[i] + "-";
      }
      return string;
    },
  },
};
</script>

<style scoped>
p {
  margin-bottom: 0;
}

.accordion-button::after {
  background-image: url(https://cdn-icons-png.flaticon.com/512/748/748113.png) !important;
  opacity: 0.5;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(https://cdn-icons-png.flaticon.com/512/659/659883.png) !important;
  opacity: 0.5;
}

.accordion-button:focus {
  border: none;
  border-color: inherit;
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: inherit !important;
  background-color: inherit !important;
}
</style>