<template>
  <div>
    <Header />
    <div id="app">
      <Nuxt />
    </div>
    <Footer />
    <Social />
  </div>
</template>

<script>
export default {
  name: 'DefaultLayout',

};
</script>

<style>
#app {
  min-height: 80vh;
}
</style>